# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store

# Logs
*.log
logs/

# Build artifacts
src/api/api
src/workers/workers

#cursor rules
.cursorrules

#coverage
coverage.txt
coverage.html

#node modules
node_modules/
.svelte-kit/
src/ui/node_modules/
src/ui/.svelte-kit/
src/ui/build/
.todo
